.navbar{
  display: flex;
  a{
    color: $white;
    border-radius: 10px;
    width: 102px;
    text-align: center;
    margin-right: 5px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      background-color: $black;

    }
  }
}