.navbar{
  background-color: $color-secondary;
  width: 100vw;
  text-align: center;
  a{
    margin-left: $margin;
    color: $color-primary;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: $color-tertiary;
    }
  }

}